<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCa0H-u2ALPP-qUS9ilw1whMF8hD2t6Nh4</string>
	<key>GCM_SENDER_ID</key>
	<string>545270682903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tm.ios.InstagramFirebase</string>
	<key>PROJECT_ID</key>
	<string>instagramfirebase-492f0</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirebase-492f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545270682903:ios:fb5ef1e991ce85a3e05352</string>
	<key>DATABASE_URL</key>
	<string>https://instagramfirebase-492f0-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>